name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          # Use printf to avoid any trailing newline issues from the shell
          printf "%s" "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem

      - name: Deploy on EC2
        run: |
          # Use -vvv to see exactly why the key is being rejected if it fails again
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/ec2.pem ubuntu@16.170.248.187 << 'EOF'
            set -e
            cd /home/ubuntu/WebScraper || (git clone https://github.com/vinodrathod123/WebScraper.git /home/ubuntu/WebScraper && cd /home/ubuntu/WebScraper)
            git pull origin main
            docker build -t webscraper-java .
            docker stop webscraper || true
            docker rm webscraper || true
            docker run -d --name webscraper webscraper-java
          EOF