name: Deploy to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup SSH key
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem

      # 3️⃣ Deploy to EC2
      - name: Deploy on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/ec2.pem ubuntu@13.51.56.116 << 'EOF'
            cd WebScraper
            git pull origin main
            docker build -t webscraper-java .
            docker stop webscraper || true
            docker rm webscraper || true
            docker run -d --name webscraper --restart unless-stopped webscraper-java
          EOF
