name: Deploy to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          printf "%s" "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem
          ssh-keyscan -H 16.170.248.187 >> ~/.ssh/known_hosts

      - name: Deploy on EC2
        run: |
          ssh -i ~/.ssh/ec2.pem ubuntu@16.170.248.187 << 'EOF'
            set -e

            cd /home/ubuntu/webscraper || \
            git clone https://github.com/vinodrathod123/WebScraper.git /home/ubuntu/webscraper

            cd /home/ubuntu/webscraper
            git pull origin main

            docker build -t webscraper .
            docker stop webscraper || true
            docker rm webscraper || true

            docker run -d --name webscraper --restart unless-stopped webscraper
          EOF
