name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup SSH key (HEREDOC – correct way)
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          cat << 'EOF' > ~/.ssh/ec2.pem
          ${{ secrets.EC2_KEY }}
          EOF
          chmod 600 ~/.ssh/ec2.pem
      

      # 3️⃣ Deploy to EC2
      - name: Deploy on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/ec2.pem ubuntu@<NEW_PUBLIC_IP> <<EOF
            set -e
            cd /home/ubuntu/WebScraper

            echo "Building Docker image..."
            docker build -t webscraper-java .

            echo "Stopping old container (if any)..."
            docker stop webscraper || true
            docker rm webscraper || true

            echo "Running scraper..."
            docker run --rm webscraper-java
          EOF
