name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup SSH key (The most reliable way)
      - name: Setup SSH
        env:
          EC2_SSH_KEY: ${{ secrets.EC2_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$EC2_SSH_KEY" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem
      

      # 3️⃣ Deploy to EC2
      - name: Deploy on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/ec2.pem ubuntu@16.170.248.187 << 'EOF'
            set -e
            cd /home/ubuntu/WebScraper

            echo "Building Docker image..."
            docker build -t webscraper-java .

            echo "Stopping old container (if any)..."
            docker stop webscraper || true
            docker rm webscraper || true

            echo "Running scraper..."
            docker run --rm webscraper-java
          EOF
