name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          # Decodes the Base64 secret into a perfect PEM file
          echo "${{ secrets.EC2_KEY_BASE64 }}" | base64 -d > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem
          ssh-keyscan -H 16.170.248.187 >> ~/.ssh/known_hosts

      - name: Deploy on EC2
        run: |
          ssh -i ~/.ssh/ec2.pem ubuntu@16.170.248.187 << 'EOF'
            set -e
            if [ ! -d "/home/ubuntu/WebScraper" ]; then
              git clone https://github.com/vinodrathod123/WebScraper.git /home/ubuntu/WebScraper
            fi
            cd /home/ubuntu/WebScraper
            git pull origin main
            docker build -t webscraper-java .
            docker stop webscraper || true
            docker rm webscraper || true
            docker run -d --name webscraper webscraper-java
          EOF