name: Deploy to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem

      - name: Deploy on EC2
        env:
          REMOTE_USER: ubuntu
          REMOTE_HOST: 100.53.17.203
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/ec2.pem $REMOTE_USER@$REMOTE_HOST << 'EOF'
            set -e

            if [ ! -d "$HOME/WebScraper" ]; then
              git clone https://github.com/vinodrathod123/WebScraper.git
            fi

            cd WebScraper
            git pull origin main

            docker build -t webscraper .
            docker stop webscraper || true
            docker rm webscraper || true

            docker run -d --restart unless-stopped --name webscraper webscraper
          EOF
